:root {
    --primary-color: #0c3764;
    --secondary-color: #125973;
    --bg-main: #f4f1f0;
    --bg-card: #ffffff;
    --text-main: #333333;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
    margin: 0;
    line-height: 1.6;
}

.container {
    max-width: 43.75rem;
    margin: auto;
    padding: 1.25rem;
}

.main-header {
    text-align: center;
    padding: 3.125rem 0;
    border-top: 0.625rem solid var(--secondary-color);
    border-bottom: 0.625rem solid var(--primary-color);
}

.profile-photo {
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.25rem solid var(--primary-color);
    margin-bottom: 0.9375rem;
}

.profile-name {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 2.5em;
    color: var(--primary-color);
    margin: 0;
}

.subtitle {
    color: var(--secondary-color);
    font-weight: bold;
}

.section h2 {
    color: var(--primary-color);
    border-left: 0.3125rem solid var(--primary-color);
    padding-left: 0.625rem;
    margin-top: 2.1875rem;
}

.card {
    background: var(--bg-card);
    padding: 1.25rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid #ddd;
    margin-bottom: 1.25rem;
}

.logos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 1.25rem;
}

.logo-item img {
    width: 2.815rem;
    margin-bottom: 0.3125rem;
}

.logo-item span {
    display: block;
    font-size: 0.8em;
    font-weight: bold;
}

.contacto-form {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

input,
textarea {
    padding: 0.625rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
}

.main-btn,
.interactive-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 0.9375rem;
}

.main-btn:hover {
    background-color: var(--secondary-color);
}

.hidden {
    display: none;
}

.education-list {
    list-style: disc;
    padding-left: 1.25rem;
    margin-top: 0.625rem;
    color: var(--text-main);
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/inter-v18-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/inter-v18-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/playfair-display-v37-latin-600italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

/* cambio para forzar actualizacion */